*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* * ------------------------------------------------- */
.header__img {
    
    background:url("../img/Background.jpg") no-repeat 50%/cover;
    width: 100%;
    height: 666px;
    

}
.header__block {
    display: flex;
}

.container__circle {
    background-color: #FFA501;
    margin-top: 150px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    font-size: 16px;   
}
.container__p {
    margin-left: 10px;
    margin-top: -22px;
}
.header_block_left {
    float: left;
    width: 10%;
}
.header_block_center {
    width: 80%;
}
.header_block_right {
    clear: left;
    width: 10%;
}
.header_block_center__p {
    margin-top: 20px;
    font-weight: 700;
    font-size: 47px;
}
.header_block_center__btns {
    margin-top: 40px;
    width: 100%;
}
.btn  {
    display: flexbox;
    border: none;
    outline: none;
    background-color: transparent;
    height: 40px;
    width: 14%;
    

}

.btn_active {
    background-color: #FFA501;
}

@media screen and (max-width: 830px) {
    .p {
        font-size:  13px;
       
    }
    
    .header_block_center__p {
        font-size: 43px;
    }
    
    .btn {
        min-width: 100px;
        height: 30px;
    }
    
}
@media screen and (max-width: 630px) {
    .p {
        font-size:  10px;
       
    }
    
    .header_block_center__p {
        font-size: 30px;
    }
    
    .header_block_center__btns {
        margin-top: 20px;
    }
    .btn {
        min-width: 120px;
        
        height: 35px;
        width: 100%;
    }
    .header_block_center__btns {
        width: 30%;
    }
}
@media screen and (max-width: 430px) {
    .p {
        font-size:  10px;
       
    } 
    .header_block_center__p {
        font-size: 30px;
    }
    
    .btn {
        min-width: 90px;
        
        height: 25px;
        width: 100%;
    }
    .header_block_center__btns {
        width: 30%;
    }
    .header__img {
        background:url("../img/Background.jpg") no-repeat 60%/cover;
    }
}