*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* * ------------------------------------------------- */
.header__img {
    
    background:url("../img/Background.jpg") no-repeat 50%/cover;
    width: 100%;
    height: 666px;
    object-fit:cover;

}
.header__block {
    display: flex;
}
.header_circle {
    margin-top: 150px;
}
.container__circle {
    background-color: #FFA501;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    font-size: 16px;
    line-height: 1.3;   
}
.little_p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    font-size: 13px;  
    line-height: 1.3;
}
.container__p {
    margin-left: 10px;
    margin-top: -22px;
}


.header_block_content {
    margin: 0 auto;
    width: 80%;
}

.header_block_center__p {
    margin-top: 20px;
}
.h1 {
    font-weight: 700;
    font-size: 48px;
}
.h2 {
    font-weight: 700;
    font-size: 30px;
}
.h3 {
    font-weight: 700;
    font-size: 14px;
}
.header_block_center__btns {
    margin-top: 40px;
    width: 100%;
}
.btn  {
    display: flexbox;
    border: none;
    outline: none;
    background-color: transparent;
    height: 40px;
    width: 14%;
    

}

.btn_active {
    background-color: #FFA501;
}
.content {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.about_block  {
    display: flex;
    margin-top: 104px;
    flex-wrap:wrap;
}
.about__image {
    min-width: 250px;
    max-width: 30%;
    height: 400px;
    margin-right: 70px;
}
.about_block__text {
    width: 60%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:1020px) {
    .about_block__text {
        width: 50%;
        
    }
}
.about_block__text>* {
    margin-bottom: 10px;
}
.about_block__p {
    white-space: nowrap;
    width: 17%;
    border-bottom: 3px solid #FFA501 ;
}

@media screen and (max-width: 900px) { 
    .about_block__text {
        width: 40%;
    }
    .h2 {
        font-size:  26px;
    }
}
.about_block_li {
    display:inline-flex;
    min-width: 275px;
    width: 43%;
    
}
.about_block__ul :not(:first-child) >div {
    margin-top:  10px;
}   
.about_block_li__img {
    min-height: 30px;
    min-width: 30px;
    margin-right: 20px;
}
.about_block_li__name {
    padding-bottom: 10px;
}
.about_block_li__description {
    line-height: 1.3;
    font-size: 11px;
}

.about_block__little_p {
    width: 105%;
}

.about_block__ul {
    display:flexbox;
    width: 115%;


}
.about_block_li__text {
    min-width: 220px;
    max-width: 220px;
    
}





/* --------------------MEDIA------------------ */
@media screen and (max-width: 830px) {
    .p {
        font-size:  13px;
       
    }
    
    .header_block_center__p {
        font-size: 43px;
    }
    
    .btn {
        min-width: 100px;
        height: 30px;
    }
    .h2 {
        font-size:  23px;
    }
}
@media screen and (max-width: 630px) {
    .p {
        font-size:  10px;
       
    }
    
    .header_block_center__p {
        font-size: 30px;
    }
    
    .header_block_center__btns {
        margin-top: 20px;
    }
    .btn {
        min-width: 120px;
        
        height: 35px;
        width: 100%;
    }
    .header_block_center__btns {
        width: 30%;
    }
}
@media screen and (max-width: 430px) {
    .p {
        font-size:  10px;
       
    } 
    .header_block_center__p {
        font-size: 30px;
    }
    .header__img {
        background:url("../img/Background.jpg") no-repeat 60%/cover;
    }
    
    .btn {   
        width: 100%;
    }
    .header_block_center__btns {
        width: 30%;
    }
    
}

@media screen and (max-width: 700px) {
    .about_block {
        display: flex;
        flex-direction: column;
        
    }
    .about_block >* {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }
    .about_block__text >* {
        width: 100%;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;

    }
    .h2 {
        font-size: 26px;
    }
    .p {
        font-size: 16px;
    }
}
