*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* * ------------------------------------------------- */
.header__img {
    
    background:url("../img/Background.jpg") no-repeat 50%/cover;
    width: 100%;
    height: 666px;
    object-fit:cover;

}
.header__block {
    display: flex;
}
.header_circle {
    margin-top: 150px;
}
.container__circle {
    background-color: #FFA501;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.edu_circle {
    margin: 0 auto 0 auto;

}
.price_circle {
    margin: 0 auto 0 auto;
}

.edu_ul__circle {
    width: 30%;
    max-width: 30px;
}

.p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    font-size: 14px;
    line-height: 1.3;   
}
.little_p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    font-size: 13px;  
    line-height: 1.3;
}
.container__p {
    margin-left: 10px;
    margin-top: -23px;
   
}
.edu_container__p {
    margin-top: -24px;
    margin-left: -7px;
}
.prac_container__p {
    margin-top: -24px;
    text-align: center;
}

.header_block_content {
    margin: 0 auto;
    width: 80%;
}

.header_block_center__p {
    margin-top: 20px;
}
.h1 {
    font-weight: 700;
    font-size: 48px;
}
.h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;

}
.h3 {
    font-weight: 700;
    font-size: 15px;
}
.big_h3 {
    font-size: 16px;
    font-weight: 800;
}
.just_p {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.header_block_center__btns {
    margin-top: 40px;
    width: 100%;
}
.btn  {
    display: flexbox;
    border: none;
    outline: none;
    background-color: transparent;
    height: 40px;
    width: 14%;
    

}

.btn_active {
    background-color: #FFA501;
}
.content {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.about_block  {
    display: flex;
    margin-top: 104px;
    flex-wrap:wrap;
    width: 100%;
}
.content {
    display: block;
}
.about__image {
    min-width: 250px;
    max-width: 30%;
    height: 400px;
    margin-right: 70px;
}
.about_block__text {
    width: 60%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:1020px) {
    .about_block__text {
        width: 50%;
        
    }
}
.about_block__text>* {
    margin-bottom: 10px;
}
.h2 {
    white-space: nowrap;
    margin: 0;
    border-bottom: 3px solid #FFA501 ;
    width: 17%;
    color:black;
}
.p {
    color:black;
}
@media screen and (max-width:900px) { 
    .about_block__text {
        width: 40%;
    }
    
}
}
.about_block_li {
    display:inline-flex;
    min-width: 275px;
    width: 43%;
    
}
.about_block__ul :not(:first-child) >div {
    margin-top:  10px;
}   
.about_block_li__img {
    min-height: 30px;
    min-width: 30px;
    margin-right: 20px;
}
.about_block_li__name {
    padding-bottom: 10px;
}
.about_block_li__description {
    line-height: 1.3;
    font-size: 11px;
}

.about_block__little_p {
    width: 105%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.about_block__ul {
    display:flexbox;
    width: 115%;


}
.about_block_li__text {
    min-width: 220px;
    max-width: 220px;
    
}
.price_block__p {
    margin: 0 auto 91px auto;
    border-bottom: 3px solid #FFA501 ;
    white-space: nowrap;
    width: 10%;
    text-align: center;
    padding-bottom: 10px;
}
.price_container__p {
    margin-top: -25px;
} 
.edu_block {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.edu_block__p {
    max-width: 300px;
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
}
.prac_block__p {
    max-width: 390px;
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto 0 auto;
    width: 100%;
}

.edu_container {
    margin-left: auto;
    margin-right: auto;
    width: 21em;
}
.circle_wrapper {
   width: 100%;
}
.edu__ul {
    margin-top: 60px;
    display: flex;
}
.ul_content {
    margin-left: 43px;
    display: inline-block;
    width: 80%;
}

.ul_content li {
    width: 100%;
    
    margin-bottom: 14.3%;
}
.ul__circle {
    background-color: #FFA501;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    
}
.ul__ver_line {
    border-left: 1px solid black;
    height: 310px;
    margin-left: 5px;
    
}
.ul__p {
    margin: -5px 0 0 15px;

}
.ul {
    display: flexbox;
    
}
.ul__wrapper {
    display: inline-flex;
}
.ul__hor_line {
    
    border-bottom: 1px solid black;
    width: 40px;
    margin-left: 5px;
    margin-top: -240px;
}
.ul__second_line {
    border-bottom: 1px solid black;
    max-width: 40px;
    margin-left: -38px;
    margin-right: -5px;
    margin-bottom: 14px;
}
.ul_text_wrapper >* {
    display: inline-block;
    width: 50%;
}
.ul_text_wrapper {
    margin-top: -15px;

}
.ul_text_wrapper :nth-child(1) {
    margin-top: -1.5px;
}
.text_wrap {
    width: 80%;
    margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
    .ul_text_wrapper :nth-child(1) {
        margin-top: -10px;
    }
}
@media screen and (max-width: 705px) {
    
    .edu__ul {
        display: inline-flex;
        flex-direction: column;
    }
    .ul  {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .ul_text_wrapper {
        margin-top: -6px;
    
    }
    .edu_block {
        margin-bottom: 280px;
    }
    
}
@media screen and (max-width: 450px) {
    .ul_text_wrapper {
        margin-top: -19px;
    
    }
}
@media screen and (max-width: 367px) {
    .ul_text_wrapper {
        margin-top: -38px;
        
    }
    .second_ul_text {
        margin-top: 30px;
    }
}
.edu_ul__name {
    margin-top: 8px;
}

.practice {
    margin-top: 80px;
    
}
.prac__blocks {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.prac_block {
    border: 1px solid black;
    min-width: 260px;
    min-height: 260px;
    margin: 5px 5px 5px 5px;
    justify-content: center;
}

.prac_block__img {
    margin: 25px 0 0 25px;
    max-width: 200px;
    max-height: 100px;
    height: 25%;
}



.prac_block__description {
    max-width: 220px;
    word-wrap: break-word;
    margin: 25px auto 0 25px;
   
}
.prac_block__name {
    margin: 25px 0 0 25px;
    align-self: center;
    
}
@media screen and (max-width: 1030px) {
    .prac__blocks {
        justify-content: center;
    }
}
.prac__charts {
    display: inline-flex;
    flex-wrap: wrap;
    
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    
}
.prac__chart {
    display: flexbox;
    width: 270px;
    margin-bottom: 30px;
    margin-right: 8%;
    
}
.price__chart {
    display: flexbox;
    margin-bottom: 30px;
    
    width: 366px;
}
.price__chart p {
    white-space:nowrap;
}
.price__chart .price__circle {
    white-space:nowrap;
}
.chart__text_wrapper {
    width: inherit;
}

.chart__text_wrapper {
    display: inline-block;
}
.chart__text_wrapper .chart__procent {
    margin: -20px 0 20px 0;
    text-align: right;
    
}
/* ---------------------BAR----------------------- */
.part_bar {
    background-color: #FFA501;
    width: 90%;
    height: inherit;
    border-radius: inherit;
}
.full_bar {
    background-color: #E8E4DE;
    width: 300px;
    height: 14px;
    border-radius: 4px;
}
@media screen and (max-width: 850px) {
    .prac__chart {
        width: 250px;
    }
    .full_bar {
        width: 250px;
    }
}
@media screen and (max-width: 1200px) {
    .prac__chart {
        width: 270px;
    }
    .full_bar {
        width: 270px;
    }
}
#part_bar_1 {
    width: 100%;
}
#part_bar_2 {
    width: 85%;
}
#part_bar_3 {
    width: 90%;
}
#part_bar_4 {
    width: 75%;
}
#part_bar_5 {
    width: 90%;
}
#part_bar_6 {
    width: 95%;
}
/* ---------------------BAR----------------------- */

.portfolio {
    margin-top: 85px;
}

.port_blocks {
    display: inline-flex;
    text-align: center;
    margin: 80px auto 0 auto;
    justify-content: space-between;
}
.port_blocks >* {
    margin: 0 0 0 0;
}
.port__images {
    border: none;
    width: 24.8%;
    height: 14.58%;
}
.not_width_img {
    width: 24.8%;
}
.not_width_img img {
    width: 100%;
    height: 100%;
}
.port__images img {
    width: 100%;
    height: 100%;
}
.port__hor_image img {
    width: 100%;
    height: 100%;
}

.port__hor_image {
    margin-right: 24.96%;
}
.port_blocks div :not(:last-child) {
    width: 24.8%;
    
}
.port_blocks div {
    display: flexbox;
}
.port__hor_image {
    width: 50%;
}
.port__images_next_line {
    margin-top: -24.96%;
}
.port__hor_image {
    margin-top: -24.96%;
}
@media screen and (max-width: 1349px) {
    .portfolio {
        margin-top: 450px;
    }
}
@media screen and (max-width: 1311px) {
    .port_blocks {
        display: flexbox;
        
    }
    .port_block__image {
        margin-bottom: -250px;
    }
    .port_blocks * {
        margin: 0 0 0 0;
    }
    .port_blocks div {
        height: 480px;
        width: 480px;
        margin: 15px auto;
    }
    
    
}


.price {
    margin-top: 80px;
}
.price__circle {
    height: 15px;
    width: 15px;
}


.price__p {
    float: right;
}
.price__name {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    white-space:nowrap;
}
.about_block_input {
    font-size: 14px;
    color:#000000;
    font-family: 'Poppins', sans-serif;
}
.price__text {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 20px;
}
.price__charts {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.about_block__btns {
    display: flex;
    width: 20%;
    justify-content: space-between;
}
.about_block_input {
    border: 1px solid #000000;
}
.about_block_input_name {
    width: 280px;
    height: 45px;
    padding-left: 20px;
}
.about_block_input_text {
    width: 585px;
    height: 190px;
    padding-left: 20px;
}
.about_block_p {
    position: relative;
    margin: 0 0 -10px 15px;
    width: 75px;
    height: 18px;
    background-color: white; 
    text-align: center;
    white-space: nowrap;
}
.about_block_p_text {
    position: relative;
    margin: 0 0 -10px 15px;
    width: 119px;
    height: 18px;
    background-color: white; 
    text-align: center;
    white-space: nowrap;
}
.about_block_inputs {
    display: flex;
    width: 585px;
    justify-content: space-between;

}


.send__btn {
    width: 219px;
    height: 45px;
    background-color:#ffa704;
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {
    .about__image {
        width: 0;
        height: 0;
    }
    .about_block__text {
        width: 100%;
    }
}
@media screen and (max-width: 706px) {
    .about__image {
        width: 0;
        height: 0;
    }
    .about_block__text {
        width: 100%;
    }
}

/* --------------------MEDIA------------------ */
@media screen and (max-width: 830px) {
    
    
    .header_block_center__p {
        font-size: 43px;
    }
    
    .btn {
        min-width: 100px;
        height: 30px;
    }
    .h2 {
        font-size:  23px;
    }
}
@media screen and (max-width: 630px) {
    
    
    .header_block_center__p {
        font-size: 30px;
    }
    
    .header_block_center__btns {
        margin-top: 20px;
    }
    .btn {
        min-width: 120px;
        
        height: 35px;
        width: 100%;
    }
    .header_block_center__btns {
        width: 30%;
    }
}
@media screen and (max-width: 430px) {
    
    .header_block_center__p {
        font-size: 30px;
    }
    .header__img {
        background:url("../img/Background.jpg") no-repeat 60%/cover;
    }
    
    .btn {   
        width: 100%;
    }
    .header_block_center__btns {
        width: 30%;
    }
    
}

@media screen and (max-width: 700px) {
    .about_block {
        display: flex;
        flex-direction: column;
        
    }
    .about_block >* {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }
    .about_block__text >* {
        width: 100%;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;

    }
    .about_block__btn {
        margin-right: 25px;

    }
    .about_block_inputs {
        margin-left: 3px;
        display: flex;
        flex-wrap: wrap;
    }
    .about_block_input__container {
        width: 100%;
    }
    .about_block_input__container input {
        width: 100%;
    }
    
}

@media screen and (max-width: 705px) {
    .prac_block__description {
        font-size: 12px;
    }
}